@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
      font-family: 'Times New Roman', Times, serif !important;
    }
    .descarga i {
      padding: 5px;
      display: inline;
      justify-content: center;
      align-items: center;
    }
    body {
      height: 100vh;
      display: grid;
      grid-template-rows: repeat(2, 92% 8%);
      overflow: hidden;
      object-fit: cover;
    }
    .main {
        height: 100vh;
        background: #000000a1;
        width: 100%;
        max-height: 100%;
        font-family: 'Oswald', sans-serif;
    }
    .navbar {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 10px;
        z-index: 10;
        height: 50px;
    }
    #logo {
        cursor: pointer;
        margin: 5px;
        width: auto;
        height: 30px;
        
    }
    ul li  {
        list-style: none;
        display: inline-block;
    
        position: relative;
        background: none;
        transition: .4s;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 300;
        
    }
    ul li a {
        left: 0;
        text-decoration: none;
        color: #fff;
    }
    ul li a:hover {
        color: rgb(157, 54, 241);
        transition: .4s;
        transform: scale(1.1);
        text-shadow: 0px 0px 10px  rgba(122, 48, 183, 0.916);
    }
    .descarga {
        padding-top: 5px;
    }
    .descarga a{
        display: inline-block;
        border: 1px solid rgb(130, 43, 201);
        padding: 9px 20px;
        background: transparent;
        border-radius: 0px;
        text-decoration: none;
        color: #fff;
        line-height: 1.4;
        font-size: 15px;
        font-weight: 400;
        transition: .4s;
    }
    .descarga a:hover {
        background: rgba(130, 43, 201, 0.637);
        transition: .4s;
        transform: scale(1.1);
        -webkit-box-shadow: 0px 0px 30px 0px rgb(130, 43, 201);
        -moz-box-shadow: 0px 0px 30px 0px rgb(130, 43, 201);
        box-shadow: 0px 0px 30px 0px rgb(130, 43, 201);
    }
    .checkbtn {
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 50px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    
    
    #check{
        display: none;
    }
    
    #uwu-video {
        position: absolute;
        overflow: hidden;
        top: 0;
        margin: 0;
        padding: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: -100;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
    }    
footer {
    background-color: black;
    background-image: url(img/slide/);
    background-size: cover;
    overflow: hidden;
    color: rgb(167, 167, 167);
    height: 200px;

}
.footer {
    display: grid;
    background-size: cover;
    overflow: hidden;
    position: relative;
    grid-template-columns: repeat(2, 65% 35%);
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    
}


.linea {
    position: relative;
    left: 30px;
    margin: 0 100px;
    width: 1px;
    margin-top:  10px;
    height: 95px;
    background-color: #ffffff;
}



.part2 {
    display: grid;
    grid-template-columns: repeat(2, 70% 30%);
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 20px;
}
.terminos, .terminos2{

    padding-top: 15px;

}
.terminos a, .terminos2 a{
    text-decoration: none;
    gap: 10px;
    color: rgb(167, 167, 167);
    transition: .5s;
}
.terminos a:hover{
    color: #ffffff;
    transition: .5s;

}
.terminos{
    font-size: 11px;
    color: rgb(167, 167, 167);
}
.terminos2 {
    font-size: 11px;
    color: rgb(167, 167, 167);
}
.space{
    margin: 5px;
    color: rgb(167, 167, 167);
}
.texto3 {
    width: 360px;
    font-size: 11px;
    padding-top: 30px;
    justify-content: left;
}
.terminos-y-servicios {
    display: flex;
    padding-top: 35px;
    font-size: 11px;
    padding-bottom: 5px;
    justify-content: right;
    margin-right: 50px;

}

.text-center {
    position: absolute;
  top: 35%;
  right: 5%;
  margin: -25px 0 0 -25px;
}

.uwu-download{
    width: 520px;
    height: 130px;
}
.text-center a img {
    padding-top: 0px;
}
.down-se {
    display: flex;
    align-items: center;
    justify-content: right;
}
.btns {
    height: 75px;
    width: 250px;
}
.btn-3{
    height: 75px;
    width: 85px;
}
@media (max-width: 1920px) {
    #uwu-video {
        width: 100%;
        height: 100%;
    }
    
}


@media (max-width: 1000px){
    .checkbtn{
        display: block;
        padding-left: 10px;
        z-index: 1;
    }
    ul{
        position: fixed;
        width: 300px;
        height: 100%;
        background: #2f2f2fbe;
        backface-visibility: hidden;
        overflow: hidden;
        backdrop-filter: blur(5px);
        background-size: cover;
        overflow: hidden;
        object-fit: cover;
        top: 0px;
        left: -100%;
        z-index: 0;
        border-radius: 0 10px;
        text-align: center;
        transition: all .9s;
    
    }
    #uwu {
        z-index: 2;
    }
    ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    ul li a{
        font-size: 16px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
   
    .descarga {
        padding-top: 5px;
        
    }
    .main {

        width: auto;
        height: 100%,    
    }
    #logo {
        margin-top: 15px;
        width: 70px;
        z-index: -2;
    }
    .descarga a {
        font-size: 10px;
    }
    .text-center h6 {
        font-size: 13px;
    }
    .text-center a img {
        width: 100px;
    }
    .uwu-download{
        width: 300px;
    }
    .yt {
        top: 55%;
    }
    
}
@media (max-width: 1000px){
    .iframe-com {
        width: 400;
        height: 285px;
    background-size: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 400px;
    z-index: 100;
 


    background-position: center;
    }
    .yt-uwu {
        margin-top: 180px;
    }
}
